<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.churway.dao.GoodsMapper">
  <resultMap id="BaseResultMap" type="com.churway.entity.Goods">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type_id" jdbcType="INTEGER" property="typeId" />
    <result column="main_img" jdbcType="VARCHAR" property="mainImg" />
    <result column="owner_id" jdbcType="BIGINT" property="ownerId" />
    <result column="owner_name" jdbcType="VARCHAR" property="ownerName" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
  </resultMap>
  <select id="selectByCreateDate" resultMap="BaseResultMap">
    select g.id,g.name,g.type_id,g.main_img,g.owner_id,g.owner_name,g.state,g.create_time,g.description
    from goods g
    where g.owner_id = #{ownerId} and g.state != 0
    <if test="startDate != null">
      and g.create_time &gt;= #{startDate}
    </if>
    <if test="endDate != null">
      and g.create_time  &lt;= #{endDate}
    </if>
  </select>
</mapper>